*{
    font-family: Arial, Helvetica, sans-serif;
}
#app{
    margin: auto;
    width: 1300px;
    height: 5000px;
    position: relative;
    border: 1px solid black;
}
#app .header{
    width: 1300px;
    height: 250px;
    background-image: url("../images/header.png");
    background-size: 1300px;
}
#app .header .img-profile{
    width: 150px;
    height: 150px;
    background-image: url("../images/profile.jpg");
    background-size:150px;
    border-radius: 50%;
    position: absolute;
    top:150px;
    left: 30px;
}
#app .header  .btn-success{
    width: 140px;
    height: 40px;
    position: absolute;
    border-radius: 4px 4px 4px 4px;
    top:190px;
    right: 5px;
}
#app .main .name-profile{
    font-size: 20px;
    color: gray;
    font-weight: bold;
    padding-top:10px;
    padding-left: 13rem;
    line-height: 30px;
}
#app .main .description{
    width: 900px;
    height: 130px;
    position: absolute;
    margin-top: 40px;
    left: 2rem;
    background-color: gray;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px 5px darkgrey;
}
#app .main .description p{
    color:black;
    font-size: 20px;
    line-height: 27px;
    margin-left: 2px;
}

#app .main .description .title-summary{
    position: absolute;
    font-size: 30px;
    left: 63rem;
    margin-top: -90px;
}

#app .main .category-major{
    margin-top: 240px;
    width: 1200px;
    height: 500px;
    margin-left: 46px;
    position: relative;
}

#app .main .category-major .back-end{
    width: 300px;
    height: 400px;
    background-image: url("../images/anhdep.jpg");
    background-repeat: no-repeat;
    background-size: 300px;
    position: absolute;
    left: 20px;
    top: 40px;
    float: left;
    box-shadow: 5px 5px 5px 5px darkgrey;
}

#app .main .category-major .back-end .title-major{
    font-size: 28px;
    color: black;
    font-weight: bold;
    display: block;
    padding-left: 20px;
    padding-top: 230px;
}

#app .main .category-major .back-end .content-major{
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
}

#app .main .category-major .database{
    width: 300px;
    height: 400px;
    background-image: url("../images/anhdep1.jpg");
    background-repeat: no-repeat;
    background-size: 300px;
    position: absolute;
    left: 450px;
    top: 40px;
    float: left;
    box-shadow: 5px 5px 5px 5px darkgrey;
}

#app .main .category-major .database .title-major{
    font-size: 28px;
    color: black;
    font-weight: bold;
    display: block;
    padding-left: 20px;
    padding-top: 230px;
}

#app .main .category-major .database .content-major{
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
}

#app .main .category-major .networking{
    width: 300px;
    height: 400px;
    background-image: url("../images/anhdep3.jpg");
    background-repeat: no-repeat;
    background-size: 300px;
    position: absolute;
    left: 880px;
    top: 40px;
    float: left;
    box-shadow: 5px 5px 5px 5px darkgrey;
}

#app .main .category-major .networking .title-major{
    font-size: 28px;
    color: black;
    font-weight: bold;
    display: block;
    padding-left: 20px;
    padding-top: 230px;
}

#app .main .category-major .networking .content-major{
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
}

#app .main .profile-personal{
    width: 1300px;
    height: 800px;
}
#app .main .profile-personal div{
    float: left;
}
#app .main .profile-personal .image-personal{
    width:650px;
    height: 800px;
    background-image: url("../images/profile.jpg");
    background-repeat: no-repeat;
    background-size: 650px;
}
#app .main .profile-personal .information-personal{
    width: 650px;
    height: 800px;
}

#app .main .profile-personal .information-personal .title-profile{
    text-align: center;
    font-weight: bold;
    margin-top: 199px;
}

#app .main .profile-personal .information-personal .panel-information{
    width: 650px;
    height: 554px;
}

#app .main .profile-personal .information-personal .panel-information .child-panel{
    height: 70px;
    width: 100%;
}
#app .main .profile-personal .information-personal .panel-information .child-panel .img-child img{
    margin-left: 10px;
    margin-top: 10px;
}
#app .main .profile-personal .information-personal .panel-information .child-panel .title-name{
    margin-left: 3px;
    color:black;
    font-weight: bold;
}

#app .main .profile-personal .information-personal .panel-information .child-panel .fullname{
    float: right;
    color:black;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 10px;
}

#app .main .profile-school{
    width: 1300px;
    height: 800px;
}
#app .main .profile-school .image-school {
    float: right;
}

#app .main .profile-school .information-school{
    float:right;
    width: 650px;
    height: 100%;
}

#app .main .profile-school .image-school{
    width: 650px;
    height: 800px;
    background-image: url("../images/img-school.webp");
    background-repeat: no-repeat;
    background-size: 650px 800px;
}



#app .main .profile-school .information-school .title-profile{
    text-align: center;
    font-weight: bold;
    margin-top: 180px;
    margin-right: 100px;
}
#app .main .profile-school .information-school .panel-information{
    width: 650px;
    height: 574px;
}

#app .main .profile-school .information-school .panel-information .child-panel{
    height: 70px;
    width: 100%;
}
#app .main .profile-school .information-school .panel-information .child-panel .img-child img{
    margin-left: 10px;
    margin-top: 10px;
}
#app .main .profile-school .information-school .panel-information .child-panel .title-name{
    margin-left: 3px;
    color:black;
    font-weight: bold;
}

#app .main .profile-school .information-school .panel-information .child-panel .fullname{
    float: right;
    color:black;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 10px;
}

#app .main .experience-personal{
    width: 1300px;
    height: 1200px;
}

#app .main .experience-personal .title-experience{
    font-size: 30px;
    font-weight: bold;
    color:black;
    line-height: 60px;
    margin-left: 35rem;
}
ul {
    height: 1200px;
    padding: 50px 0;
  }
  
  ul li {
    position:relative;
    list-style-type: none;
    width: 6px;
    background-color: blue;
    margin: 0 auto;
    padding-top: 50px;
  }
  
  ul li::after {
    background: grey;
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 0;
    }
  
  
  ul li div{
    position: relative;
    width: 400px;
    height: 300px;
    padding: 15px;
    border-radius: 5px;
    bottom: 0;
    background: rgba(42,50,113, .28);
  }
  
  ul li:nth-child(odd) div {
    left: 45px;
  }
  
  ul li:nth-child(even) div {
    left: -445px;
  }
  
  time {
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
  }
  
  ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
  }
  
  ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
  }
  
  ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
  }
  
  ul li.show div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }

  #app .main .working-experience{
    width: 1300px;
    height: 500px;
  }

  #app .main .working-experience .title-experience{
    font-size: 30px;
    font-weight: bold;
    color:black;
    line-height: 60px;
    margin-left: 35rem;
}

#app .main .certificates{
    width: 1300px;
    height: 600px;
}

#app .main .certificates .title-experience{
    font-size: 30px;
    font-weight: bold;
    color:black;
    line-height: 60px;
    margin-left: 35rem;
}

#app .main .certificates .album{
    width: 1300px;
    height: 540px;
    position: relative;
}

#app .main .certificates .album img:first-child{
    margin-top: 30px;
    margin-left: 30px;
}
#app .main.certificates .album img{
    float: left;
    position: absolute;
    margin-left: 65px;
}

#app .footer{
    width: 1300px;
    height: 300px;
    background-color: black;
}

#app .footer span{
    color: white;
    font-weight: bold;
}